<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
       ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n %caller{1}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="stdout" />
    </root>

</configuration>